/node_modules
/examples/*/node_modules
/examples/*/unpackage
/examples/*/uni-simple-router.js.map
/temp
/dist/src
package-lock.json
.DS_Store
examples/uni-simple-router2.0/src/dist/dev/
examples/uni-simple-router2.0/src/dist/build/